<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645144185101-c3e237ea5kpt2dme0duato43sdfsmoel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645144185101-c3e237ea5kpt2dme0duato43sdfsmoel</string>
	<key>API_KEY</key>
	<string>AIzaSyAcZRRjSHPr8zOiE3vril3GLn4lzprjzx4</string>
	<key>GCM_SENDER_ID</key>
	<string>645144185101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kesavan.BabyChris</string>
	<key>PROJECT_ID</key>
	<string>babychris-b3b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>babychris-b3b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645144185101:ios:7eb0d488ca1523caa4c844</string>
</dict>
</plist>